body{
    margin: 0;
    padding: 0;
    background: cornflowerblue;
    overflow-y: scroll;
    max-height:100vh;
}

img{
    width: 100%;
    height: 100%;
}
header{
    position:fixed;
    min-width: 100%;
    top:0;
}


.upperBar{
    

    padding: 0px;
    margin: 0px;
    outline:1px dashed white;
    outline-offset: -5px;
    background:rgb(144, 188, 255);
    width:100%;
    height:8%;
    position: relative;

    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.logo, #searchForUsers, #usersFollowedTitle{
    font-size: 175%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa;
}

/*test pt scrollbar*/

body::-webkit-scrollbar{
    width:1rem;
}
body::-webkit-scrollbar-track{
    background: rgb(248, 248, 248);
}
body::-webkit-scrollbar-thumb{
    background: rgb(63, 112, 204);
}


/*navbar*/

.navbar{

    width:1em;
    height: 95vh;
    position:fixed;
    top:3.5vh;
    background-color:rgb(67, 89, 170);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height:5rem;
    color: white;
    text-decoration: none;
}

.link-text{
    display:none;
    margin-left:1rem;

    font-size: 155%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb;
  
}

.nav-link svg{
    min-width:2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width:16rem;

}
.navbar:hover .link-text{
    display:block;
}

footer{
    background-color: whitesmoke;
    position: fixed;
    bottom:0%;
    padding: 0px;
    margin: 0px;
    min-width:100%;
    text-align: center;
}


.navbar:hover .nav-item{
    display:block;
    border:1px solid Black;
    width:8vw;
    border-radius: 10%;
    background-color:teal;
}

.navbar:hover .nav-item:hover{
    background-color:  tomato;
    transition:0.6s;
}





/*Cardurile*/

#searchAndResults, #usersFollowedBox{
    display:flex;
    flex-direction: column;
    max-width:50%;
    margin-top:5%;
    margin-left:25.5%;
    margin-bottom:5%;
    justify-content: space-between;
    border:1px solid black;
}

#search, #usersFollowedInside{
    margin-left:24%;
    display:flex;
    margin-top:10%;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    max-width:50%;
    min-height:20vh;
    align-self: left;
    background-color: rgb(31, 27, 27);
    border-radius: 20%;
    border:1px solid black;
    
}

 #genres{
    max-width: 200px;
    text-align: center;
    align-self: center;
    height:4vh;
    font-size: large;
}

#searchButton{
    max-width: 200px;
    text-align: center;
    align-self: center;
    height:8vh;
    font-size: large;
    border-radius: 50%;
}

#hot {
    display:flex;
    flex-wrap: wrap;
    max-width:85%;
}


.text{
    color: rgb(209, 164, 66);
    text-shadow:1px 1px 8px gray;
}

#typeUserName{
    max-width: 20vw;
    font-size:2vh;
    align-self:center;
}
#results{
    display:none;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

 #usersFollowed{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.usersFound{
   margin:2%;
   display:flex;
   flex-direction: column;
   background-color: rgb(173, 27, 27);
   min-width:10vw;
   min-height:3vh;
   align-content: center;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 20px 5px white;
   transition:0.3s;
}

.usersFound:hover{
    margin:2%;
    display:flex;
    background-color: rgb(88, 7, 7);
    min-width:10vw;
    min-height:3vh;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 25px 15px white;
    transition:0.3s;
 }

 .usersFound:active{
    margin:2%;
    display:flex;
    background-color: rgb(88, 7, 7);
    min-width:10vw;
    min-height:3vh;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 25px 15px white;
    transition:0.3s;
 }

 .usersFound img{
     max-height:120px;
     max-width:90px;
     margin-top:2vh;
     border:1px solid white;
 }


 .hiddenID{  /* o sa avem nevoie de ID pt requesturi, dar nu e cazul sa il si afisam in pagina*/
    display:none;
}