body{
    margin: 0;
    padding: 0;
    background: cornflowerblue;
    overflow-y: scroll;
    max-height:100vh;
}

img{
    width: 100%;
    height: 100%;
}

.upperBar{
    

    padding: 0px;
    margin: 0px;
    outline:1px dashed white;
    outline-offset: -5px;
    background:rgb(144, 188, 255);
    width:100%;
    height:8%;
    position: relative;

    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.logo{
    font-size: 175%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa;
}

/*test pt scrollbar*/

body::-webkit-scrollbar{
    width:1rem;
}
body::-webkit-scrollbar-track{
    background: rgb(248, 248, 248);
}
body::-webkit-scrollbar-thumb{
    background: rgb(63, 112, 204);
}


/*navbar*/

.navbar{

    width:1em;
    height: 100vh;
    position:fixed;
    background-color:rgb(67, 89, 170);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height:5rem;
    color: white;
    text-decoration: none;
}

.link-text{
    display:none;
    margin-left:1rem;

    font-size: 155%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb;
  
}

.nav-link svg{
    min-width:2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width:16rem;

}
.navbar:hover .link-text{
    display:block;
}

footer{
    background-color: whitesmoke;
    position: fixed;
    bottom:0%;
    padding: 0px;
    margin: 0px;
    min-width:100%;
    text-align: center;
}


.navbar:hover .nav-item{
    display:block;
    border:1px solid Black;
    width:8vw;
    border-radius: 10%;
    background-color:teal;
}

.navbar:hover .nav-item:hover{
    background-color:  tomato;
    transition:0.6s;
}





/*Cardurile*/

#hotAndOptions{
    display:flex;
    max-width:65%;
    margin-top:5%;
    margin-left:30%;
}


#hot {
    display:flex;
    flex-wrap: wrap;
    max-width:85%;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(107, 106, 106);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: rgb(34, 2, 2);
    min-width:90%;
    align-self: center;
    margin-bottom: 2vh;
    text-indent: 2vw;
    min-width:50vw;
}



  .card:hover {
    box-shadow: 0 4px 8px 6px rgb(37, 33, 33);
  }
  /* Add rounded corners to the top left and the top right corner of the image */


  .cardBody{
      display:flex;
      flex-direction: row;
      margin-bottom: 3%;
  }


  .text{
    color: rgb(199, 180, 180);
    text-shadow:1px 1px 8px gray;
}

.bookImage{
    max-height: 200px;
    max-width:200px;
    margin-left:2%;
    box-shadow: 0 0 10px 3px rgb(107, 106, 106);
}

