body{
    margin: 0;
    padding: 0;
    background: cornflowerblue;
}
.card{
    position: absolute;
    width: 25em;
    height: 40em;
    top:55%;
    left:70%;
    background:white;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.35);
    transition: 1s;
}
.card:hover{
    transform: translate(-50%,-50%) perspective(2000px) ;
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}
.card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width:100%;
    height:5px;
    background: rgb(63, 112, 204);
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card:after{
    content:'';
    position: absolute;
    top:0;
    right:-5px;
    width:5px;
    height: 100%;
    background:rgb(106, 196, 226);
    transform-origin: left;
    transform: skewY(-45deg);
}
img{
    width: 100%;
    height: 100%;
}
.card .imgBox{

    width:100%;
    height:100%;
    position: relative;
    transform-origin: left;
    transition:1s;
}
.card:hover .imgBox{
    transform: rotateY(-145deg);
}

.upperBar{
    

    padding: 0px;
    margin: 0px;
    outline:1px dashed white;
    outline-offset: -5px;
    background:rgb(144, 188, 255);
    width:100%;
    height:8%;
    position: relative;

    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.logo{
    font-size: 175%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa;
}

/*test pt scrollbar*/

body::-webkit-scrollbar{
    width:1rem;
}
body::-webkit-scrollbar-track{
    background: rgb(248, 248, 248);
}
body::-webkit-scrollbar-thumb{
    background: rgb(63, 112, 204);
}


/*navbar*/

.navbar{

    width:1em;
    height: 100vh;
    position:fixed;
    background-color:rgb(67, 89, 170);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style:none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height:5rem;
    color: white;
    text-decoration: none;
}

.link-text{
    display:none;
    margin-left:1rem;

    font-size: 155%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb;
  
}

.nav-link svg{
    min-width:2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width:16rem;

}
.navbar:hover .link-text{
    display:block;
}

footer{
    position: absolute;
    bottom:0%;
    left:50%;
    padding: 0px;
    margin: 0px;
}


/*test*/