#genres-wrapper{
    margin-top:10vh;
    margin-bottom: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#genres{
    padding: 10vh;
    min-height: 80vh;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: darkblue; */
}
.genre-item{
    height: 5vh;
    width: 30%;
    background-color: #ff8514;
    color:#4c3b32;
    transition:all 0.3s linear;
    
}
.genre-item:hover{
    background-color: #ffcf6e;
}