#group-wrapper{
    margin-top:10vh;
}
@media only screen and (max-width: 700px) {
    #account-information{
        margin-top:20vh;
    }
}
#group-information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.group-manage{
    display: flex;
    height:auto;
    min-height: 10vh;
}
/*grop sho contine manage buttons*/
.group-show{
    display: flex;
    justify-content: center;
    background-color: #4c3b32;
    width: 80vw;
    min-height: 50vh;
    height: auto;
    border-radius: 5vmin;
}
/*join button*/
.join-btn{
    background-color: #ffaa00;
    border:none;
    padding:1vmin;
    font-size: 1em;
    height:auto;
    transition:background-color 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    cursor: pointer;
    color:#454545;
}
.join-btn:hover{
    background-color:#548746;
}
.fas.fa-edit{
    color:#454545;
    background-color: #ffaa00;
    padding: 1vmin;
}
/*inserat de la comunity*/
.group{
    width: 80vw;
    min-height:30vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:10vmin;
}
/* imaginea in sine mai sus e divul ei */
#group-image{
    border-radius: 50%;
    height: 15vmin;
    width: auto;
}
.group-name{
    padding: 1em;
    text-align: center;
    border-bottom: 0.3em solid #4e4744;
    font-size:1em
}
.group-detail{
    margin-top:5vmin;
    margin-bottom:5vmin;
    padding:1.5em;
    background-color:#4c3b32;
    border-radius: 1em;

}

.group-title{
    background-color: #4c3b32;
    color:#FFCF6E;
    text-decoration: none;
    padding: 0.5vmin;
    font-size: 1em;
}
/*inserat de la comunity*/
.group-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vmin;
}
.group-btn a:hover{
    background-color: #ffaa00;
}
.group-btn a{
    background-color: #ffa24a;
    color: #ffcf6e;
    text-decoration: none;
    transition: background-color 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    padding: 1em;
}
#group-main-part{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

#group-bookshelves{
    /* border:3px solid seagreen; */
    height:auto;
    width: 80%;
}
.title{
    color:#4c3b32;
    border-bottom: 0.3em solid #453026;
    max-width: 6em;
    margin-bottom: 3vmin;
}
.book-cover{
    position: relative;
    top:0;
    transition:top 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.book-cover:hover{
    top: -1em;
}

#bookshelf{
    /*border:3px solid [a-z]+;*/
    width: 60vw;
    height: auto;

    margin:0px;
    padding: 5vh;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* so it can be offset   */
    margin-top:20vh;
    margin-bottom: 20vh;

    background-color: #453026;
    border:5px solid #000000;
}
.bookrow-shelf{

    margin:0px;
    padding: 0px;

    height: auto;
    width:100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /*border:3px solid [a-z]+;*/

}
.bookrow{
    
    /*border:3px solid [a-z]+;*/
    margin:0px;
    padding: 0px;

    height: auto;
    width:100%;

    display: flex;
    justify-content: center;
    align-content: center;

}
.book{

    /* border:3px solid blue; */

    margin:0px;
    margin-left:1.5vw;
    margin-right:1.5vw;
    padding:0px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width:12.5%;

}

.book-cover{
    margin:0px;
    padding:0px;

    width:100%;
    height:auto;
    box-shadow: 3px 3px 3px #00000082;   
}
.shelf{
    padding:0px;
    margin:0px;
    margin-bottom: 5vh;
    /*border:3px solid [a-z]+;*/
    height: auto;
    width: 100%;
    position: relative;
}
