html{
    height:100%;
}
body{
    /*border:3px solid [a-z]+;*/
    margin:0px;
    padding:0px;
    width:100%;
    background-image: url("../images/shattered.png");
    background-color: #f2eecb;

    background-attachment: fixed;
    background-repeat: repeat;

    font-family: Times Roman, sans-serif;
    font-size: 3vmin;
    color:#FFFFF0;

    overflow-x: hidden;    

    display: flex;
    min-height: 100%;
    flex-direction: column;
}
header{
    position: fixed;
    height: 10vh;
    /* ??? */
    width:100vw;
    display:flex;
    justify-content: center;
    align-items:center;

    background-color: rgb(66, 66, 66);

    text-transform: uppercase;
    font-family: verdana;
    font-size: 5vmin;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    box-shadow: 10px 10px 10px 10px rgb(74, 74, 74);

    z-index:100;

}
footer{

    bottom: 0px;
    background: url('../images/lowerBooCase.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
    
    height: 3.5em;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

#bookshelf-wrapper{
    /*used to contain the bookshelf and sandwich it between the header and the footer  */
    margin:0px;
    padding: 0px;

    height:100%;
    width:100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
#bookshelf{
    /*border:3px solid [a-z]+;*/
    width: 60vw;
    height: auto;

    margin:0px;
    padding: 5vh;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* so it can be offset   */
    margin-top:20vh;
    margin-bottom: 20vh;

    background-color: #513627;
}
.bookrow-shelf{

    margin:0px;
    padding: 0px;

    height: auto;
    width:100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /*border:3px solid [a-z]+;*/

}
.bookrow{
    
    /*border:3px solid [a-z]+;*/
    margin:0px;
    padding: 0px;

    height: auto;
    width:100%;

    display: flex;
    justify-content: center;
    align-content: center;

}
.book{

    /* border:3px solid blue; */

    margin:0px;
    margin-left:1.5vw;
    margin-right:1.5vw;
    padding:0px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width:12.5%;

}
.book-cover{
    margin:0px;
    padding:0px;

    width:100%;
    height:auto;
    box-shadow: 3px 3px 3px #00000082;   
}
.shelf{
    padding:0px;
    margin:0px;
    margin-bottom: 5vh;
    /*border:3px solid [a-z]+;*/
    height: auto;
    width: 100%;
    position: relative;
}


/*review stars start*/
.review-stars{
    /* border:3px solid red; */
    display: flex;
    flex-direction: row-reverse;
    width: auto;
}
.review-stars input{
    display: none;
}
.review-stars label{
    display: block;
    cursor: pointer;
    width:auto;
    z-index: 30;
}
.review-stars label:before{
    content:'\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    display: block;
    font-size:60%;
    color:#101010;
    z-index: 30;
}
.review-stars label:after{
    content:'\f005';
    /* for font awesome i use my account
    +set the font family to the one below with   
    font-weight: 900; for solid,    
    font-weight: 400;for simple and brands
    */
    /*DONT FORGET NUMBERS REVERSED:1=5 stars,5=1star!!!!*/
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size:60%;;
    color:#ffe342;
    top:0;
    opacity: 0;
    z-index: 30;
    transition: .5s;
    text-shadow: 0 3px 5px rgba(0,0,0,.5);

}
.review-stars label:hover:after,
.review-stars input:hover ~ label:after,/*means it goes from the hover input up to all the elements after it*/
.review-stars input:checked ~ label:after/*means it goes from the checked input and it makes all the label */
{
    opacity: 1;
}
/*review stars end*/
/*reading state start*/
.dropdown-read-state{
    font-size: 0.5em;
    width: 90%;
}
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
/*reading state end*/